<div class="main-container-block">
  <div class="debate-header-body">
    <h1><%= @debate.title%></h1>
    <div class="tag-names">
      <% @debate.tag_list.each do |tag_name| %>
        <div class="blue-tag">
          <p><%= tag_name %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div data-controller="argumentwords">
    <%= simple_form_for [@debate, @argument] do |f| %>
      <div class= "swiper-card argument-content-input <%=["swiper-card-1", "swiper-card-2", "swiper-card-3", "swiper-card-4", "swiper-card-5", "swiper-card-6"].sample%>", style="margin-top:30px" >
        <%= f.input :content, label: false, placeholder: 'Argument', input_html: { "data-argumentwords-target": "descriptionContent", "data-action": "keyup->argumentwords#change" }, as: :text %>
        <p data-argumentwords-target="descriptionOutput" class="counter-text"></p>
      </div>
      <div class="simple-form-custom-argument", style="display:flex; justify-content:space-evenly, margin: bottom 30px">
        <%#= f.input :perspective_pro, as: :radio_buttons, label: false, collection: [['Pro', 'true'], ['Con', 'false']] %>
        <%= f.button :submit, value: "Con", class:"button-disagree-full", style:"width:47.5%" %>
        <%= f.button :submit, value: "Pro", class:"button-agree-full", style:"width:47.5%" %>
      </div>
    <% end %>
  </div>
</div>
