<div class="main-container-block">
  <div class="debate-header-body">
    <h1><%= @debate.title%></h1>
    <div class="tag-names">
      <% @debate.tag_list.each do |tag_name| %>
        <div class="blue-tag">
          <p><%= tag_name %></p>
        </div>
      <% end %>
    </div>
  </div>
  <h2>Create an argument</h2>
  <%= simple_form_for [@debate, @argument] do |f| %>
    <div class= "swiper-card argument-content-input <%=["swiper-card-1", "swiper-card-2", "swiper-card-3", "swiper-card-4", "swiper-card-5", "swiper-card-6"].sample%>" >
      <%= f.input :content, label: false, placeholder: 'Argument', error: 'Argument is mandatory' %>
    </div>
    <div class="simple-form-custom-argument">
      <%= f.input :perspective_pro, as: :radio_buttons, label: false, collection: [['Pro', 'true'], ['Con', 'false']] %>
      <%= f.button :submit, class:"button-secondary" %>
    </div>
  <% end %>
</div>
