<div class="main-container-block">
  <div class="title-container">
    <h3>Debate reflection notes</h3>
  </div>
  <div class="reflection-content">
    <p><strong>Debate topic: </strong><%= @debate.title %></pre></p>
    <p><strong>Debate partner: </strong><%= @debate_partner.username %></pre></p>
    <p><strong>Date: </strong><%= @reflection.created_at.to_fs(:long_ordinal) %></pre></p>
    <p><strong>Rating: </strong><%= @reflection.debate_chat_score %></pre></p>
    <p><strong>Reflections: </strong><%= @reflection.conclusion %></pre></p>
  </div>
  <div class="reflection-show-buttons">
    <%= link_to "Save and back to Debate page", debate_path(@debate), class: "button-primary w-100" %>
    <button class="button-secondary w-100">Add debate partner as friend</button>
  </div>
</div>
