<div class="navbar">
  <div class="main-container-block" style="margin-top:0px; margin-bottom:0px;">
    <div class="navbar-items">
      <%= link_to debates_path do %>
        <%= image_tag("home-icon.png", class: "navbar-icon") %>
      <% end %>
      <%= link_to debates_path do %>
        <%= image_tag("search-icon.png", class: "navbar-icon") %>
      <% end %>
      <%= link_to new_debate_path do %>
        <%= image_tag("create-debate-icon.png", class: "navbar-icon") %>
      <% end %>
      <%= link_to edit_user_registration_path do %>
        <%= image_tag("profile-icon.png", class: "navbar-icon") %>
      <% end %>
    </div>
  </div>
</div>
