<body style="margin-bottom:240px">
<div class="main-container-block">
  <div class="debate-header-body">
    <h1><%= @debate.title%></h1>
    <div class="tag-names">
      <% @debate.tag_list.each do |tag_name| %>
        <div class="blue-tag">
          <p><%= tag_name %></p>
        </div>
      <% end %>
    </div>
  </div>

  <% @arguments.each do |argument| %>
    <div class="argument-card">
      <p><%= argument.content %></p>
      <% like_exist = argument.comment_swipe_users.find_by(user: current_user) %>
      <div class="argument-icon-container">
        <%= image_tag "flag-icon.png", class: "icon-format" %>
        <% if like_exist && like_exist.argument_agree == true %>
          <%= link_to argument_comment_swipe_user_path(argument, like_exist), data: {turbo_method: :patch} do %>
            <%= image_tag "full-heart-icon.png", class: "icon-format" %>
          <% end %>
        <% elsif like_exist && like_exist.argument_agree == false %>
          <%= link_to argument_comment_swipe_user_path(argument, like_exist), data: {turbo_method: :patch} do %>
            <%= image_tag "empty-heart-icon.png", class: "icon-format" %>
          <% end %>
        <% else %>
          <%= link_to argument_comment_swipe_users_path(argument), data: {turbo_method: :post} do %>
            <%= image_tag "empty-heart-icon.png", class: "icon-format" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="debate-buttons-container debate-buttons-container-grey">
  <div class="main-container-block" style="background-color:rgba(1,1,1,.0); margin-top:0px; margin-bottom:0px;">
    <div class="debate-procon-container">
      <%= link_to "See con", debate_path(category: "con"), class: "button-disagree #{'button-disagree-full' if params[:category] == "con"}" %>
      <%= link_to "See pro", debate_path(category: "pro"), class: "button-agree #{'button-agree-full' if params[:category] == "pro"}" %>
    </div>
    <div class="debate-adddebate-container">
      <%= link_to "Add argument", new_debate_argument_path(@debate), class: "button-secondary" %>
    </div>
    <div class="debate-requestpartner-container">
      <%= link_to "Request debate partner", debate_chatrooms_path(@debate), data: {turbo_method: :post}, class: "button-primary" %>
    </div>
  </div>
</div>
</body>
